<h1 class="page-title img-line second-bg">Author</h1>
<div class="show">
    <div class="author-info info">
        <div class="card-title">
            <h2><%= @author.name %></h2>
            <p><%= @author.email %></p>
        </div>
        <%= render "shared/book_list", {books: @author.books} %>
        <div class="card-footer">
            <p>Don't see a book?
                <%= link_to("Add one now!", new_book_path) %></p>
            <div class="footer-buttons">
                <%= link_to("✎", edit_author_path(@author), :class => "pop-button") %>
                <%= button_to("✕", @author, method: :delete, :class=>"pop-button") %>
            </div>
        </div>
    </div>
</div>
